@import "./themes.scss";
@import "./mobile.scss";
html {
  overflow: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    background: #a8a8a8;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
}

.base-container {
  // h-full w-full border border-gray-200 rounded-lg max-w-screen-lg m-auto flex flex-col shadow-sm
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray-200);
  border-radius: 0.8rem;
  max-width: 1024px;
  margin: auto;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  .base-top-container {
    padding: 2rem 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .base-title {
      font-size: 1.8rem;
      line-height: 2.8rem;
      font-weight: 600;
    }
  }
  .base-bottom-container {
    flex: 1;
    width: 100%;
    overflow-y: auto;
  }
}

.btn {
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  background-color: transparent;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: 3.6rem;
  padding: 0 16px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--gray-700);
  transition: background-color 0.2s;
  outline: none;
  white-space: nowrap;
  &:hover {
    background-color: var(--gray-50);
  }
  &.btn-icon {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
}

.btn-primary {
  border-radius: 8px;
  border: 1px solid var(--primary-600) !important;
  background-color: var(--color-1) !important;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: 3.6rem;
  padding: 0 16px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
  transition: background-color 0.2s;
  &.md {
    height: 4.8rem;
  }
  &:hover {
    background-color: var(--primary-700);
  }
  &:disabled,
  .disabled {
    background-color: var(--primary-200);
    border: 1px solid var(--primary-200);
  }

  &.btn-icon {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
}
.btn-join {
  border-radius: 8px;
  // border: 1px solid var(--primary-600);
  background-color: var(--brand-600);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: 3.6rem;
  padding: 0 16px;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Inter;
  color: var(--white);
  &.md {
    height: 4.8rem;
  }

  &:disabled,
  .disabled {
    background-color: var(--primary-200);
    border: 1px solid var(--primary-200);
  }
}
.btn-processing {
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  background-color: var(--success-50);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: 3.6rem;
  padding: 0 16px;
  font-size: 1.4rem;
  font-family: Inter;
  font-weight: 600;
  color: var(--success-700);
  &.md {
    height: 4.8rem;
  }
  // &:hover {
  //   background-color: var(--primary-700);
  // }
  // &:disabled,
  // .disabled {
  //   background-color: var(--primary-200);
  //   border: 1px solid var(--primary-200);
  // }
  &.btn-icon {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
}

.Toastify {
  --toastify-toast-width: 40rem;
  .Toastify__toast {
    .Toastify__close-button {
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

code {
  background: var(--primary-200);
  padding: 0.4rem;
  border-radius: 0.2rem;
}
