.input-container {
  display: flex;
  flex-direction: column;
  --border-color: var(--gray-300);
  --shadow-color: transparent;
  --icon-color: var(--gray-500);
  .input-label {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 142.857%;
    color: var(--gray-700, #344054);
    margin-bottom: 0.6rem;
  }

  .input-section {
    display: flex;
    padding: 1rem 1.4rem;
    align-items: center;
    gap: 0.8rem;
    align-self: stretch;
    transition: all 0.2s;

    border-radius: 8px;
    border: 1px solid var(--border-color);
    box-shadow:
      0px 0px 0px 4px var(--shadow-color),
      0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    input {
      outline: none;
      height: 100%;
      flex: 1;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: var(--gray-900, #101828);
    }
    svg {
      color: var(--icon-color);
      width: 2rem;
      height: 2rem;
    }
  }

  &:focus-within {
    --border-color: var(--primary-300);
    --shadow-color: var(--primary-100);
  }

  &.has-error {
    --border-color: #f04438;
    --icon-color: #f04438;
    --shadow-color: transparent;
    &:focus-within {
      --shadow-color: #fee4e2;
    }
  }

  .error-message {
    color: #f04438;
  }
}
